@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

/* Force redeploy - small color change */
body {
  background-color: #ffffff; /* Changed from default */
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}